<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/logo.ico')}}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../static/js/jquery-3.3.1.js"></script> <!-- fallback -->
	
	<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

	<header>
		<!-- <img id="logo" src="{{url_for('static', filename='logo.png')}}"> -->
	</header>

	<main>
		<div class="col">
			<img id="logo" src="{{url_for('static', filename='images/logo.png')}}">
			
			<h1>Asistente de calibración para TAZ</h1>
		
			<p>*Presione una esquina de la cama para mover la punta.</p>
			<p>*Haga clic en el botón <i>Mover para calibrar</i> para alejar la punta de la esquina y dejar espacio para calibrar. Presione nuevamente para regresar la punta a la esquina.</p>
			<p>*Presione el icono de la casa para ir a <i>home</i>.</p>
			<p>*Presione la flecha para subir y bajar la punta.</p>
		</div>
		
		<div class="col">
			<div class="bed">
				<div class="top">
					<button type="button" id="top_left"><img src="{{url_for('static', filename='images/top-left.png')}}"></button>
					<button type="button" id="top_right"><img src="{{url_for('static', filename='images/top-right.png')}}"></button>
				</div>
				
				<div class="bottom">
					<button type="button" id="bottom_left" class="clicked"><img src="{{url_for('static', filename='images/bottom-left.png')}}"></button>
					<button type="button" id="bottom_right"><img src="{{url_for('static', filename='images/bottom-right.png')}}"></button>
				</div>
			</div>
			
			<div class="controls">
			<button type="button" id="calibrate">Mover para calibrar</button>
			<div class="icons">
				<a id="home" class="fa fa-home"></a>
				<a id="up_down" class="fa fa-arrow-circle-up"></a>
			</div>
			</div>
		</div>
	</main>
	
	<script type="text/javascript" src="{{ url_for('static', filename='js/movements.js') }}"></script>
</body>
</html>
